= form_for @user, url: password_reset_path(params[:id]), html: { class: "form form-horizontal", role: "form" } do |f|

	%h1.form-header Update Password

	= render 'shared/error_messages', object: f.object

	.form-group.first-form-group
		= f.label :password, "Password", class: "col-sm-3 control-label"
		.col-sm-9
			= f.password_field :password, class: "form-control"
			
	.form-group
		= f.label :password_confirmation, "Confirmation", class: "col-sm-3 control-label"
		.col-sm-9
			= f.password_field :password_confirmation, class: "form-control"
	
	.form-group	
		.col-sm-offset-3.col-sm-9
			= f.submit "Update Password", class: "btn btn-primary"	
